<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>timeslice-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <listener id="timeslice-startup">
    <description>Start-up for Timeslice</description>
    <display-name>Start-up for Timeslice</display-name>
    <listener-class>bacond.timeslice.web.gwt.server.rpc.TimesliceStartupServletContextListener</listener-class>
  </listener>

  <context-param>
    <param-name>timeslice.acl</param-name>
    <param-value>/Users/dbacon/.timeslice.acl</param-value>
  </context-param>
  <context-param>
    <param-name>timeslice.safedir</param-name>
    <param-value>/Users/dbacon/ts-related/safedir</param-value>
  </context-param>
  <context-param>
    <param-name>timeslice.datadir</param-name>
    <param-value>/Users/dbacon/ts-related/timeslice-project/timeslice-web/datadir</param-value>
  </context-param>
  <context-param>
    <param-name>timeslice.tzoffset</param-name>
    <param-value>9</param-value>
  </context-param>

  <servlet>
    <servlet-name>gwt-timeslice</servlet-name>
    <servlet-class>bacond.timeslice.web.gwt.server.rpc.TimesliceSvc</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>


  <servlet-mapping>
    <servlet-name>gwt-timeslice</servlet-name>
    <url-pattern>/timeslice.App/timeslice</url-pattern>
  </servlet-mapping>
</web-app>
