
.ts-actionPanel .gwt-Hyperlink
{
	font-size: 50%;
}

.gwt-Button
{
	margin: 0.05em;
	padding: 0.05em;
}

.ts-task
{
}

.ts-task-future
{
	color: gray;
	font-style: italic;
}

.ts-project-nonempty
{
    /* background: #dfd; */
}

.ts-project-empty
{
    background: #fdd;
    color: gray;
    border: solid 1px black;
}

.ts-project
{
	padding-left: 0.5em;
}

.tsTaskResumeLink
{
	color: gray;
	padding-right: 0.5em;
}

.tsTableHeader
{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
}

.resultTree-Empty
{
	font-style: italic;
	color: gray;
}

.resultTree-Depth0
{
	background: #ccc;
}

.resultTree-Depth1
{
	background: #ddd;
}

.resultTree-Depth2
{
	background: #eee;
}

.resultTree-What
{
	font-weight: bold;
	font-size: xx-large;
	background: white;
}
